{% extends 'base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css')}}">
{% endblock %}
{% block content %}
<h1>Le titre est : {{book.title}}</h1>
<h3>Fait par {{author_id}}</h3>
<p><strong>Vous pouvez le retrouver ici : <a href={{book.url}}>Amazon</a></strong></p>
<p>Le prix est de {{book.price}}€ </p>
<div class="sample">
    <img src="{{ url_for('static', filename='images/'+book.img) }}" alt="{{book.title}}" title="{{book.title}}">
</div>
{% if current_user.is_authenticated %}
{% if est_dans_biblio_user  %}
<input type="button" value="Supprimer de la bibliothèque">
{% else %}
<input type="button" value="Ajouter à la bibliothèque">
{% endif %}
{% endif %}
{% endblock %}